<header id="layout-header">
  <!-- page header -->
  <nav>
    <div class="mini-logo">
      <p>
        <a href="/"> codeial </a>
      </p>
    </div>

    <div class="auth-links">
      <ul>
        <%if (locals.user){%>
        <li class="header-item left">
          <a href="/users/profile"><%=user.name%></a>
        </li>
        <li class="header-item right">
          <a href="/users/signout">sign out</a>
        </li>
        <%}else{%>
        <li>
          <a href="/users/signin">sign in</a>
        </li>
        <li>
          <a href="/users/signup">sign up</a>
        </li>

        <%}%>
      </ul>
    </div>
  </nav>
</header>
