<header>
  <!-- page header -->
  
    <%if (locals.user){%>
    <div class="header-item left"><a href="/users/profile"><%=user.name%></a></div>
    <div class="header-item right">
      <a href="/users/signout">sign out</a>
    <%}else{%>
     
    <a href="/users/signin">sign in</a>
    <a href="/users/signup">sign up</a>
    <%}%>
  </div>
  
</header>
