<h1>codeal/ home</h1>
<section id="feed-posts">
  <h4>Posts</h4>
  <form action="/posts/create" id="new-post-form" method="post">
    <textarea
      placeholder="type here"
      name="content"
      id=""
      cols="30"
      rows="3"
    ></textarea>
    <input type="submit" value="Post" />
  </form>
  <div id="post-list-container">
    <ul>
      <%for(post of posts){%>
      <li><%=post.content%></li>
      <br />
      <li><%=post.user.name%></li>
      <div class="post-comment">
        <%if(locals.user){%>
        <form action="/comments/create" method="post" id="">
          <input
            type="text"
            name="content"
            placeholder="type here to add comment"
          />
          <input type="hidden" name="post" value="<%=post._id%>" />
          <input type="submit" value="add comment" />
        </form>
        <%}%>
      </div>
      <%}%>
    </ul>
  </div>
</section>
