<div>
  <p>hii !! <%=comment.user.name%></p>
  <br />
  <br />
  <p>
    your comment <strong> <%=comment.content%> </strong>just got published in
    codeal
  </p>
  <br />
  <br />
  <p>thanks !</p>
</div>
